In [5]:
import yfinance as yf

In [13]:
fb = yf.Ticker("FB")
print(fb.history(period="max"))

                  Open        High         Low       Close     Volume  \
Date
2012-05-18   42.049999   45.000000   38.000000   38.230000  573576400
2012-05-21   36.529999   36.660000   33.000000   34.029999  168192700
2012-05-22   32.610001   33.590000   30.940001   31.000000  101786600
2012-05-23   31.370001   32.500000   31.360001   32.000000   73600000
2012-05-24   32.950001   33.209999   31.770000   33.029999   50237200
...                ...         ...         ...         ...        ...
2022-02-03  244.649994  248.000000  235.750000  237.759995  188119900
2022-02-04  234.970001  242.610001  230.110001  237.089996   89203700
2022-02-07  237.699997  238.300003  224.009995  224.910004   88613800
2022-02-08  220.850006  225.770004  216.149994  220.179993   94521200
2022-02-09  224.199997  227.464996  222.220001  226.324997   31811756

            Dividends  Stock Splits
Date
2012-05-18          0             0
2012-05-21          0             0
2012-05-22          0             0
2012-05-23          0             0
2012-05-24          0             0
...               ...           ...
2022-02-03          0             0
2022-02-04          0             0
2022-02-07          0             0
2022-02-08          0             0
2022-02-09          0             0

[2449 rows x 7 columns]

In [27]:
fb.history(period="7d", interval="1m")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2022-02-01 09:30:00-05:00,314.554993,314.799988,312.559998,312.609985,677750,0,0
2022-02-01 09:31:00-05:00,312.690002,313.045013,312.119995,312.480011,118891,0,0
2022-02-01 09:32:00-05:00,312.470001,314.040009,312.225006,313.693909,150297,0,0
2022-02-01 09:33:00-05:00,313.600006,313.929993,313.100006,313.415802,132558,0,0
2022-02-01 09:34:00-05:00,313.359985,315.279999,313.359985,314.859985,117141,0,0
...,...,...,...,...,...,...,...
2022-02-09 11:43:00-05:00,226.514999,226.675003,226.500000,226.601807,130538,0,0
2022-02-09 11:44:00-05:00,226.580002,226.580002,226.270004,226.529999,112746,0,0
2022-02-09 11:45:00-05:00,226.509995,227.190002,226.509995,227.149994,235970,0,0
2022-02-09 11:46:00-05:00,227.149994,227.199997,226.919998,226.920105,138628,0,0
2022-02-09 11:47:16-05:00,227.042801,227.042801,227.042801,227.042801,0,0,0

In [28]:
def MSE(indice, data):
    
    l = min(len(data),)

In [39]:
%%time
import os
import glob
import pandas as pd
import numpy as np
from datetime import datetime, timedelta, date
##from simulatedata import simulatedata

# Set kbar
kbar = 4
T = 7087
E = np.rint(0.6*T).astype(int)
# Simulated data, 60% in-sample for estimation, 40% out-of-sample for forecasts.  See Section 4 re rationale for simulated data
/

# DEXJPUS, 60% in-sample for estimation, 40% out-of-sample for forecasts
dat2 = pd.read_csv("DEXJPUS.csv")                                   
dat2 = dat2.loc[dat2.DEXJPUS != "."].DEXJPUS.astype(float)
dat2 = np.array(dat2)
dat2_rtn = dat2[0:-1]
print(dat2_rtn)
dat2 = np.log(dat2[1:])-np.log(dat2[0:-1])
print(dat2)
dat2 = dat2[dat2 != 0]
dat2 = dat2[:,np.newaxis]
dat2E = dat2[0:E,]
dat2F = dat2[E:,]

dat2E.shape, dat2F.shape

[264.06 262.88 262.88 ... 121.9  119.83 119.38]
[-0.0044787   0.          0.00474375 ... -0.01712696 -0.00376239
  0.00392928]
CPU times: total: 31.2 ms
Wall time: 12.5 ms

((4252, 1), (2835, 1))